h1{
    font-size: 69px;
    padding: 13px;
    margin: 69px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    border-style: solid;
    border-radius: 15px;
    border-width: 5px;
    color: white;
    text-align: center;
    text-shadow: 2px 2px salmon;
    box-shadow: 5px 10px 18px #888888;
}

body{
    background-color: rgb(7, 204, 204);
    
}

div{
    
    text-align:center; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    color: rgb(53, 48, 48);
    border-radius: 9px;    
    padding: 25px;
}
button{
    padding: 15px 23px;
    margin: 3px;
  font-size: 11px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: white;  
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgb(68, 66, 66);
}
button:hover {background-color: aliceblue}

button:active {
  background-color: #96ecc9;
  box-shadow: 0 3px #666;
  transform: translateY(2px);
}

input{
    font-size: 25px;   
    border-radius: 9px;  
    text-align: center;
    padding: 1px;
    margin: 2px;
    box-shadow: 5px 10px 18px #888888;
}